.c_settings {

  $settings-input-height: 16px;

  height: 100%;
  overflow: hidden;

  background-color: $settings-color-bg;
  color: $settings-color;

  padding: 1em;

  flex-grow: 1;
  flex-shrink: 0;

  &__row {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    @include clearfix;
  }

  &__label {
    float: left;
    width: 150px;

    // For creating DOM space for an empty label 
    min-height: 1px;
    font-size: 12px;
    color: $settings-label-color;
  }

  &__body {
    float: left;
    margin: 0 1em;
  }

  &__info {
    font-size: 10px;
    color: $settings-label-info-color;
  }

  &__input {
    width: 400px;
    border: none;
    font-family: $font-family;
    height: $settings-input-height;
    line-height: 1;
  }

  &__input-select {
    border: none;
    font-family: $font-family;
    height: $settings-input-height;
    line-height: 1;
  }

  &__btn {
    border: none;
    font-family: $font-family;
    line-height: 1;
    height: $settings-input-height;
    line-height: 1;
    padding: 0 0.5em;
    margin: 0;

    background-color: $btn-color-bg;
    color: $btn-color;

    &:hover {
      cursor: pointer;
      background-color: $btn-color-bg-hover;
    }
  }
}