// ########################################
// Colors
// ########################################

// font colors
$color-font-light: #fff;
$color-font-dark: #333;

$color-grey-dark: #343C47;
$color-grey: #3C4451;
$color-grey-light: #F3F2F7;





// ########################################
// Z-indexes - map, gathering all Z layers of the application
// @access private
// @type Map
// @prop {String} key - Layer's name
// @prop {Number} value - Z value mapped to the key
// ########################################
$z-indexes: (
  'modal': 5000,
  'dropdown': 4000,
  'default': 1,
  'below': -1,
);


// ########################################
// TYPE
// ########################################
$font-family: 'Montserrat', sans-serif;
$font-color: $color-font-dark;
// $font-color-disabled: $color-grey-dark;

$font-weight-normal: 400;
$font-weight-bold: 700;

// ########################################
// Navigation
// ########################################
$nav-color-bg: $color-grey-dark;
$nav-color: $color-font-light;
$nav-font-size: 1.25em;

$sidebar-color-bg: $color-grey;
$sidebar-color: $color-font-light;


$settings-color-bg: $color-grey-light;
$settings-color: $color-font-dark;

$build-add-color-bg: $color-grey-light;
$build-add-color: $color-font-dark;

$builds-body-color-bg: $color-grey-light;
$builds-body-color: $color-font-dark;