// ########################################
// Colors
// ########################################

$color-white: #fff;
$color-black: #000;
$color-grey: #E0E6E9;
$color-dark-grey: #78909C;


$color-background: $color-grey;
$color-modal-background: $color-dark-grey;
$color-font: $color-black;

// ########################################
// Z-indexes - map, gathering all Z layers of the application
// @access private
// @type Map
// @prop {String} key - Layer's name
// @prop {Number} value - Z value mapped to the key
// ########################################

$z-indexes: (
  'modal': 5000,
  'dropdown': 4000,
  'default': 1,
  'below': -1,
);


// ########################################
// TYPE
// ########################################

$font-family: 'Montserrat', sans-serif;
$font-color: $color-black;
$font-color-disabled: $color-dark-grey;

$font-weight-normal: 400;
$font-weight-bold: 700;

// ########################################
// TODO
// K
// ########################################
